/*
 *  Owl Carousel - Core
 */
.th-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;

	.th-stage {
		position: relative;
		-ms-touch-action: pan-Y;
	}

	.th-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.th-stage-outer {
		position: relative;
		overflow: hidden;
		/* fix for flashing background */
		-webkit-transform: translate3d(0px, 0px, 0px);
	}

	.th-wrapper,
	.th-item{
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
	}

	.th-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
	.th-item img {
		display: block;
		width: 100%;
	}

	.th-nav.disabled,
	.th-dots.disabled {
		display: none;
	}

	.th-nav .th-prev,
	.th-nav .th-next,
	.th-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.th-loaded {
		display: block;
	}

	&.th-loading {
		opacity: 0;
		display: block;
	}

	&.th-hidden {
		opacity: 0;
	}

	&.th-refresh .th-item {
		visibility: hidden;
	}

	&.th-drag .th-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.th-grab {
		cursor: move;
		cursor: grab;
	}

	&.th-rtl {
		direction: rtl;
	}

	&.th-rtl .th-item {
		float: right;
	}
}

/* No Js */
.no-js .th-carousel {
	display: block;
}
